parameters:
    level: 8

    paths:
        - packages
        - src
        - tests
        - ecs.php
        - rector.php

    excludePaths:
        - scoper.php
        # tests
        - '*/Source/*'
        - '*/Fixture/*'

    # see https://github.com/symplify/phpstan-rules#usage
    symplify:
        pathStrings: true

    # see https://github.com/tomasVotruba/unused-public
    unused_public:
        methods: true
        properties: true
        constants: true

    # see https://github.com/TomasVotruba/type-coverage
    type_coverage:
        return: 99
        param: 99
        property: 99

    bootstrapFiles:
        - tests/bootstrap.php

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # on purpose to override a config
        -
            message: '#Missing call to parent\:\:setUp\(\) method#'
            paths:
                 - tests/Skipper/Skipper/Skipper/SkipperTest.php
                 - tests/Skipper/Skipper/Skip/SkipSkipperTest.php
                 - tests/Skipper/SkipCriteriaResolver/SkippedPathsResolver/SkippedPathsResolverTest.php
                 - src/Testing/PHPUnit/AbstractCheckerTestCase.php

        # testing instance of on purpose
        -
            message: '#Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf#'
            path: tests/*

        # overly detailed
        - '#PHPDoc tag @var with type string\|false is not subtype of native type non\-empty\-string\|false#'

        # hack to autoload contants
        - '#Call to new PHP_CodeSniffer\\Util\\Tokens\(\) on a separate line has no effect#'

        # php version condition
        -
            identifier: smaller.alwaysFalse
            path: src/Configuration/ConfigInitializer.php

        # coding-standard: runtime-defined PHP_CodeSniffer/php-cs-fixer token constants
        - '#Constant T_OPEN_CURLY_BRACKET|T_START_NOWDOC not found#'

        # coding-standard: php-cs-fixer interface generics intentionally left unspecified
        - '#Class (.*?) implements generic interface PhpCsFixer\\Fixer\\ConfigurableFixerInterface but does not specify its types\: TFixerInputConfig, TFixerComputedConfig#'

        # coding-standard: intentional cross-version condition
        -
            message: '#Comparison operation ">\=" between int<\d+, \d+> and (.*?) is always true#'
            path: packages/coding-standard/src/TokenAnalyzer/DocblockRelatedParamNamesResolver.php
