parameters:
    level: 8

    paths:
        - bin/ecs.php
        - packages
        - src
        - tests
        - ecs.php
        - rector.php

    excludePaths:
        - scoper.php
        # tests
        - '*/Source/*'
        - '*/Fixture/*'

    # see https://github.com/symplify/phpstan-rules#usage
    symplify:
        pathStrings: true

    # see https://github.com/tomasVotruba/unused-public
    unused_public:
        methods: true
        properties: true
        constants: true

    # see https://github.com/TomasVotruba/type-coverage
    type_coverage:
        return: 99
        param: 99
        property: 99

    bootstrapFiles:
        - tests/bootstrap.php

    errorFormat: symplify
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # @todo revisit: split return into typed file_diffs/coding_standard_errors buckets
        - '#Method Symplify\\EasyCodingStandard\\Application\\SingleFileProcessor\:\:processFilePath\(\) should return array\{file_diffs\?\: array<Symplify\\EasyCodingStandard\\ValueObject\\Error\\FileDiff>, coding_standard_errors\?\: array<Symplify\\EasyCodingStandard\\SniffRunner\\ValueObject\\Error\\CodingStandardError>\} but returns array<(.*?), array<Symplify\\EasyCodingStandard\\SniffRunner\\ValueObject\\Error\\CodingStandardError\|Symplify\\EasyCodingStandard\\ValueObject\\Error\\FileDiff>>#'

        # on purpose to override a config
        -
            message: '#Missing call to parent\:\:setUp\(\) method#'
            paths:
                 - tests/Skipper/Skipper/Skipper/SkipperTest.php
                 - tests/Skipper/Skipper/Skip/SkipSkipperTest.php
                 - tests/Skipper/SkipCriteriaResolver/SkippedPathsResolver/SkippedPathsResolverTest.php
                 - src/Testing/PHPUnit/AbstractCheckerTestCase.php

        # intentional: hack to autoload contants
        - '#Call to new PHP_CodeSniffer\\Util\\Tokens\(\) on a separate line has no effect#'

        # coding-standard: runtime-defined PHP_CodeSniffer/php-cs-fixer token constants
        - '#Constant T_OPEN_CURLY_BRACKET|T_START_NOWDOC not found#'

        # coding-standard: intentional cross-version condition
        -
            message: '#Comparison operation ">\=" between int<\d+, \d+> and (.*?) is always true#'
            path: packages/coding-standard/src/TokenAnalyzer/DocblockRelatedParamNamesResolver.php
        -
            identifier: smaller.alwaysFalse
            path: src/Configuration/ConfigInitializer.php
